html {
    max-height: max-content;
    height: 100%;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#buttonGif,
#buttonWeather {
    margin-top: 3px;
    margin-bottom: 15px;
}

#img {
    object-fit: contain;
    height: 250px;
    width: auto;
    margin-bottom: 15px;
}

#showWeather {
    text-align: center;
}