#container {
    margin: auto;
    margin-top: 50px;
    padding: 50px 10px 5px 10px;
    background-color: gray;
    width: 309px;
    height: 490px;
    border-radius: 5%;
}

.upperBtn {
    margin: 0.5px;
    height: 40px;
    width: 70px;
    font-size: 25px;
}

#buttons {
    padding-top: 10px;
}

.calc,
.result,
.number {
    margin: 0.5px;
    width: 70px;
    height: 70px;
    font-size: 40px;
}

#screen2 {
    font-size: 50px;
    width: 300px;
    resize: none;
    /*the textarea cannot be resized*/
    background-color: white;
    color: black;
    font-family: "DS-digi";
}

#screen1 {
    font-size: 30px;
    width: 300px;
    resize: none;
    background-color: white;
    color: black;
    font-family: "DS-digi";
}

#screens {
    display: inline-row;
}

@font-face {
    /*select a font from the url*/
    font-family: DS-digi;
    src: url(DS-DIGI.TTF);
}