body {
    max-width: 600px;
    margin: auto;
}

#container {
    display: flex;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.541);
    margin-top: 50px;
    align-content: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 10px;
}

#result {
    padding: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button {
    padding: 25px;
    background-color: whitesmoke;
    margin: 10px;
    border-style: solid;
    border-color: rgb(255, 183, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}