body {
    margin-left: 15%;
    margin-right: 15%;
    /* max-width: 500px; */
}

#header {
    display: flex;
    color: black;
    align-content: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid rgb(0, 0, 71);
}

.bookStyle {
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 28, 109, 0.548);
    border-radius: 25px;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 50px grey;
}

.bookItem {
    margin: 10px;
    color: black;
}

#library {
    display: flex;
    flex-wrap: wrap;
}

#removeButton {
    color: white;
    position: absolute;
    right: 0px;
    bottom: 60px;
    background-color: rgb(235, 1, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 20px rgb(128, 128, 128);
    cursor: pointer;
    transition: all 0.5s ease;
}

#removeButton:hover {
    background-color: rgb(235, 1, 1);
    /*  Making button bigger on hover  */
    transform: scale(1.2) perspective(1px)
}

#newBookButton {
    color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: royalblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 10px rgb(128, 128, 128);
    cursor: pointer;
    transition: all 0.5s ease;
}

#newBookButton:hover {
    background-color: rgb(46, 76, 165);
    /*  Making button bigger on hover  */
    transform: scale(1.2) perspective(1px)
}

#addOverlay,
#removeOverlay {
    display: none;
    flex-direction: column;
    margin: 10px;
    color: black;
    background-color: rgba(153, 147, 147, 0.897);
    position: fixed;
    top: 10%;
    left: 15%;
    width: 500px;
    height: 75%;
    margin: 0 auto;
    padding: 10px;
    z-index: 2;
    cursor: default;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(128, 128, 128);
}

#divContainer {
    display: flex;
    flex-direction: row;
}

#addOverlayTitle,
#removeOverlayTitle {
    display: flex;
    border-bottom: 2px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 10px;
    width: 500px;
}

#closeRemoveOverlay,
#closeAddOverlay {
    background-color: rgb(223, 8, 8);
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

#overlayButtons {
    margin: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#clear,
#submit {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#clear:hover,
#submit:hover {
    background-color: rgb(46, 76, 165);
    /*  Making button bigger on hover  */
    transform: scale(1) perspective(1px)
}